#div_with_game {
	position: relative;
	display: inline-block;
}

#canvas_game { 
	background: white;
	border: 1px solid #0000ff;
	box-shadow: inset 0 0 10px #0000ff;
	position: relative;
	top: 0;
	left: 0;
}

#canvas_block {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	z-index: 9;

	opacity: 0.3;
	filter: alpha(opacity=30)
}

#gray_cross {
	width: 30px;
	height: 30px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: url("../images/0.png") no-repeat;
	z-index: 9;
}