﻿<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">

<div id="div_with_game">
	<div id="canvas_block"></div>
	<canvas id="canvas_game">
		<div id="gray_cross"></div>

	</canvas>
</div>
<div id="for_message"></div>